<div id="app">

  <!--<table>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="cercle">-->
          <!--Ouvert !-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--Description-->
      <!--</td>-->
    <!--</tr>-->
  <!--</table>-->

  <app-header></app-header>

  <br>

  <router-outlet></router-outlet>

  <app-footer></app-footer>



</div>
