/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

#app {
  width: 1000px;
  margin: auto;
}

.cercle {
  width: 100px;
  height: 100px;
  background: white;
  border: 4px solid green;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}


table {
  width: 100%;
}

td {
  border: 1px solid red;
}

td:nth-child(odd) {
  width: 110px;
}


