#searchBox {
  border: 2px solid black;
  width: 90%;
  margin: auto;

}

#searchInput {
  margin: auto;
  display: block;
  padding: 5px;


}

#searchResult{
  border: 2px solid black;
  width: 90%;
  margin: auto;
  min-height: 500px;
}
