<br><br><br>

<!----------Boîte de Recherche----------->

<div id="searchBox">
  <br>
  <input id="searchInput" type="search" size="120%" [(ngModel)]="search"
         placeholder="Entrez içi le nom du restaurant ..." (keyup)="compareName()" (keydown)="resetResults()">
  <br>


</div>

<!---------------------------------------->
<br><br>
<h3 style="text-align: center"><u>Insérer Map içi</u></h3>
<br><br>

<!--------------------------------------->
<!-------------Résultats----------------->
<!--------------------------------------->
<!--------------------------------------->
<!--------------------------------------->
<br>

<div id="searchResult">

  <div *ngIf="results.length === 0" style="text-align: center">
    <strong><u>Aucun résultat</u></strong>
  </div>

  <div *ngFor="let resto of results">


    <app-restau-thumbnail [restau]="resto"></app-restau-thumbnail>

  </div>
</div>

<!---------------------------------------->
