<div *ngIf="restau" >

  <h2 style="text-align: center; font-family: cursive; color: darkred"><u>{{restau.nom}}</u></h2>
  <app-notation [restau]="restau"></app-notation>
  <h3>Ajouter Notation</h3>

  <br><br>

  <div id="conteneur">
  <app-gallery></app-gallery>




  <div id="bloc_recap">
    <app-map [restau]="restau"></app-map>

    <p>
      <strong><u>Type de restauration</u> : </strong>
      {{restau.type}}
    </p>
    <p>
      <strong><u>Ambiance</u> : </strong>
      {{restau.ambiance}}
    </p>
    <p>
      <strong><u>Service</u> : </strong>
      {{restau.service}}
    </p>
    <p>
      <strong><u>Description</u> : </strong>
      {{restau.description}}
    </p>
    <p>
      <strong><u>Horaires</u> : </strong>
      {{restau.horaires}} Coming soon
    </p>


  </div>
  </div>
  <br><br><br>

  <div>
    <h4>Mon avis : </h4>
    <div style="border: 2px solid grey">Insérer les étoiles içi</div>
  </div>

  <br><br><br>

  <h4>Commentaires :</h4>

  <!--<div *ngFor="let commentaire of commentaires">-->

  <app-comment-thumbnail [restau]="restau"></app-comment-thumbnail>


</div>



