<br><br><br><br>


<app-button  id="trouverRestaurant"[fullWidth]="true" [buttonText]="buttonText" (click)="redirectToSearch()"></app-button>
<br>

<p style="text-align: center"><u><strong>Ouvert actuellement</strong></u></p>

<br>


<table id="tempo">
  <tr>

      <td style="width: 33%"  *ngFor="let resto of premiereLigne"  >
        <app-restau-thumbnail [restau]="resto"></app-restau-thumbnail>
      </td>
  </tr>

  <tr>

      <td style="width: 33%"  *ngFor="let resto of secondeLigne">
        <app-restau-thumbnail [restau]="resto"></app-restau-thumbnail>
      </td>

  </tr>

</table>





<!--<tr>-->
  <!--<ng-template ngFor let-resto [ngForOf]="restaus">-->
    <!--<td style="width: 33%" *ngIf="resto.id < restaus[3].id" [routerLink]="['/detail', resto.id]">-->
      <!--<app-restau-thumbnail [restau]="resto"></app-restau-thumbnail>-->
    <!--</td>-->
  <!--</ng-template>-->
<!--</tr>-->
<!--<tr>-->
  <!--<ng-template ngFor let-resto [ngForOf]="restaus">-->
    <!--<td style="width: 33%" *ngIf="resto.id >= restaus[3].id" [routerLink]="['/detail', resto.id]">-->
      <!--<app-restau-thumbnail [restau]="resto"></app-restau-thumbnail>-->
    <!--</td>-->
  <!--</ng-template>-->
<!--</tr>-->
